<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>PhoneBook</servlet-name>
		<servlet-class>com.myproject.PhoneBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhoneBook</servlet-name>
		<url-pattern>/phonebook</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>viewcontacts1</servlet-name>
		<servlet-class>com.myproject.ViewContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewcontacts1</servlet-name>
		<url-pattern>/viewcontact</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deletecontact1</servlet-name>
		<servlet-class>com.myproject.DeleteContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deletecontact1</servlet-name>
		<url-pattern>/delet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>com.myproject.SearchContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	</web-app>
